
body {
        background: #f7f7f7;
        display: grid;
        width: 100%;
        grid-template-columns: 30% 50% 20%;
        grid-template-rows: 50% 50%;
}
.granny img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo img {
    grid-column: 1/1;
    width: 250px;
    padding: 1em;
}

.logo .name{
    font-size: 3rem;
    color: #000;
    margin: 0 1em;
}
.desc{
    grid-column: 1/1;
    grid-row: 2/3;
    background-color: #4A4A49;
    padding: 2em;
    
    width: 100%;
    height: fit-content;
}
.content{
    color: #f7f7f7;
    font-size: 2em;
}

.buttons{
    display:block;
    grid-row: 2/3;
    justify-content:space-evenly;
    /* Center horizontally */
    margin-top: 20px;
  
}

.button {
<<<<<<< Updated upstream
    margin: 40px auto;
    text-align: center;
    padding: 10px 20px; 
=======
    /* display: inline-block; */

    margin: 10px 10px;
    /* Adjust the horizontal margin for spacing */
    padding: 20px 20px;
>>>>>>> Stashed changes
    background-color: #FF5100;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}


.button:hover {
    background-color: #3399FF;
}

.language-selector {
    position: absolute;
    display: inline;
    top: 20px;
    right: 20px;
}

#language-select {
    color: #FF5100;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4A4A49;
}

.granny {
    grid-column: 2/2;
    /* height: 100%; */
    grid-row: 1/3;

}





@media only screen and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        background-image: url("../resources/src/model.jpeg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 0;
        background-size:cover,contain;
        background-position: 20%;
    }
    .granny .gran{
        display: none;
    }
    .logo{
        grid-column: 1;
    }
    
    .logo .name{
        font-size: 3em;
        padding: 0;
        margin: 0 10px;
        color: #f7f7f7;

    }
    .logo img{
        padding: 0;
        margin: 0;
        width: 50%;
    }
    .desc{
        background-color: #4A4A49;
        padding: 2em;
        margin-left: 5em;
        margin-right:0em;
        /* width: 50%; */
    }
    .desc{
        grid-column: 2/3;
        grid-row: 2;
        background-color: #4A4A49;
        /* margin: 0; */
        width: fit-content;
    } 
    .content{
        font-size: 1.2em;
    }
    .desc .content{
        letter-spacing: 1px;
        padding: .5px;
        color: #f7f7f7;
    }

    .button{
        margin: 2em;
        padding: 1em 2em;
        background-color:#FF5100;
        
    }
    .buttons{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 250px;
        padding-top: 3em;
        
        
    }
    .button{
        /* gap: 2em; */
        text-align: center;
        padding:1.5rem;
        margin: .5em;
        /* background-color:#FF5100; */
    } 

}
@media only screen and (max-width: 367px){
    .logo{
        grid-column: 1;
    }
    .logo img{
        width: 200px;
    }
    .logo .name{
        font-size: 3em;
        padding: 0;
        margin: 0 10px;
        color: #f7f7f7;
    }
    body{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 0;
        background-size:cover,contain;
        background-position: 20%;

        /* height: fit-content; */
    }
    .granny{
        display: none;
    }
    .desc{
        grid-column: 1/3;
        grid-row: 2;
        background-color: #4A4A49;
        margin: 0;
        width: fit-content;
    } 
    .content{
        font-size: 1em;
    }
    .buttons{
        display: flex;
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 250px;
        padding-top: 3em;
        
        
    }
    .button{
        /* gap: 2em; */
        text-align: center;
        padding:1.5rem;
        margin: .5em;
        /* background-color:#FF5100; */
    } 

    footer{
        /* padding: 1em; */
        margin: 0;
        /* width: 100%; */
        background-color: #4A4A49;
        display: none;
    }

}
